<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        max-width: 100%;
        width: 800px;
    }
</style>

<div class="row">
    <div class="col-md-10">
        <h2>Employee Details</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div>         
            <img src="https://avatars0.githubusercontent.com/u/139426?v=3&s=400" style="width:170px;height:100px" />                                    
        </div>                
        <div class="text-center">            
            <label>{{employeeDetail.firstName}}</label>
            <label>{{employeeDetail.lastName}}</label>   
        </div>     
    </div>  
    <div class="col-md-4">
        <div>
            
        </div>        
    </div>
</div>

